.Dice-Container{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 30px;
    margin-top: 60px;

}

.Dice-Btn{
    background-color: rgb(42, 180, 146);
    color: white;
    margin-top: 50px;
    height: 50px;
    width: 200px;
    border: .5px solid black;
    outline: none;
    border-radius: 15px;
}

.Dice-Btn:hover{
    cursor: pointer;
}